# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>
Redirect 301 /kenzington                /barrie-ontario/kenzington-dunlop
Redirect 301 /55-special 				/barrie-ontario/55-special
Redirect 301 /admirals-post 			/barrie-ontario/admirals-post
Redirect 301 /akira 					/barrie-ontario/akira
Redirect 301 /andys-place 				/barrie-ontario/andys-place
Redirect 301 /arabesque 				/barrie-ontario/arabesque
Redirect 301 /avalanche-blue 			/barrie-ontario/avalanche-blue
Redirect 301 /azzurra 					/barrie-ontario/azzurra
Redirect 301 /bamboo-terrace 			/barrie-ontario/bamboo-terrace
Redirect 301 /bananas 					/barrie-ontario/bananas
Redirect 301 /barcelos-restaurant-grill /barrie-ontario/barcelos-restaurant-grill
Redirect 301 /barrie-burger-yonge 		/barrie-ontario/barrie-burger-yonge
Redirect 301 /beacon-restaurant 		/barrie-ontario/beacon-restaurant
Redirect 301 /beaver-bulldog-collingwood 	/collingwood-ontario/beaver-bulldog-collingwood
Redirect 301 /beavertails-barrie 			/barrie-ontario/beavertails-barrie
Redirect 301 /bistro-seven-seven 			/alliston-ontario/bistro-seven-seven
Redirect 301 /bluewater-fish-chips 			/barrie-ontario/bluewater-fish-chips
Redirect 301 /bohemia 						/barrie-ontario/bohemia
Redirect 301 /bos-authentic-thai 			/barrie-ontario/bos-authentic-thai
Redirect 301 /boston-pizza-bryne 			/barrie-ontario/boston-pizza-bryne
Redirect 301 /boston-pizza-wasaga 			/barrie-ontario/boston-pizza-wasaga
Redirect 301 /bourbon-street 				/barrie-ontario/bourbon-street
Redirect 301 /british-arms 				/barrie-ontario/british-arms
Redirect 301 /bull-barrel 				/barrie-ontario/bull-barrel
Redirect 301 /caddys-steakhouse 		/barrie-ontario/caddys-steakhouse
Redirect 301 /cafe-chartreuse 			/barrie-ontario/cafe-chartreuse
Redirect 301 /cafe-fromagerie 			/barrie-ontario/cafe-fromagerie
Redirect 301 /candyland 				/barrie-ontario/candyland
Redirect 301 /captain-georges 			/barrie-ontario/captain-georges
Redirect 301 /casa-cappuccino 			/barrie-ontario/casa-cappuccino
Redirect 301 /casa-mia 					/barrie-ontario/casa-mia
Redirect 301 /cha-cha-cha 				/barrie-ontario/cha-cha-cha
Redirect 301 /chaopaya-thai 			/barrie-ontario/chaopaya-thai
Redirect 301 /chavo-crepes-barrie 		/barrie-ontario/chavo-crepes-barrie
Redirect 301 /chef-chan 				/barrie-ontario/chef-chan
Redirect 301 /cocos-burger 				/barrie-ontario/cocos-burger
Redirect 301 /coffee-culture-stayner 	/barrie-ontario/coffee-culture-stayner
Redirect 301 /collier-cafe 				/barrie-ontario/collier-cafe
Redirect 301 /collingwood-tandoori-house 	/barrie-ontario/collingwood-tandoori-house
Redirect 301 /colossal-scoop 			/barrie-ontario/colossal-scoop
Redirect 301 /conscious-cuisine-bistro 	/barrie-ontario/conscious-cuisine-bistro
Redirect 301 /continental-specialties 	/barrie-ontario/continental-specialties
Redirect 301 /copper-blues 				/barrie-ontario/copper-blues
Redirect 301 /coras-barrie 				/barrie-ontario/coras-barrie
Redirect 301 /cosmos-ristorante 		/barrie-ontario/cosmos-ristorante
Redirect 301 /cravings-fine-food 		/barrie-ontario/cravings-fine-food
Redirect 301 /crazy-fox 				/barrie-ontario/crazy-fox
Redirect 301 /crock-and-block 			/barrie-ontario/crock-and-block
Redirect 301 /crossovers 				/barrie-ontario/crossovers
Redirect 301 /cw-coops-alliston 		/barrie-ontario/cw-coops-alliston
Redirect 301 /cw-coops-barrie 			/barrie-ontario/cw-coops-barrie
Redirect 301 /dags-willow 				/barrie-ontario/dags-willow
Redirect 301 /dannys-fish-chips 		/barrie-ontario/dannys-fish-chips
Redirect 301 /dardanella 				/barrie-ontario/dardanella
Redirect 301 /davidsons-country-dining 	/barrie-ontario/davidsons-country-dining
Redirect 301 /debbs-place-barrie 		/barrie-ontario/debbs-place-barrie
Redirect 301 /diamond-sushi 			/barrie-ontario/diamond-sushi
Redirect 301 /doc-malones 				/barrie-ontario/doc-malones
Redirect 301 /donaleighs 				/barrie-ontario/donaleighs
Redirect 301 /downtown-pizza 			/barrie-ontario/downtown-pizza
Redirect 301 /dragon 					/barrie-ontario/dragon
Redirect 301 /dr-computer-logick 		/
Redirect 301 /duncans-cafe 				/barrie-ontario/duncans-cafe
Redirect 301 /east-side-marios-bryne 	/barrie-ontario/east-side-marios-bryne
Redirect 301 /edge-wine-bar-grille 		/barrie-ontario/edge-wine-bar-grille
Redirect 301 /espresso-post 			/barrie-ontario/espresso-post
Redirect 301 /euro-lex-bistro-deli 		/barrie-ontario/euro-lex-bistro-deli
Redirect 301 /fernandos 				/barrie-ontario/fernandos
Redirect 301 /firehall-pizza 			/barrie-ontario/firehall-pizza
Redirect 301 /flashback-diner 			/barrie-ontario/flashback-diner
Redirect 301 /fork-plate 				/barrie-ontario/fork-plate
Redirect 301 /frans 					/barrie-ontario/frans
Redirect 301 /fresh-afare-bayfield 		/barrie-ontario/fresh-afare-bayfield
Redirect 301 /fresh-cafe 				/barrie-ontario/fresh-cafe
Redirect 301 /fresh-fare-south 			/barrie-ontario/fresh-fare-south
Redirect 301 /frydays-fish-chip 		/barrie-ontario/frydays-fish-chip
Redirect 301 /fud-grill 				/barrie-ontario/fud-grill
Redirect 301 /gios-barrie 				/barrie-ontario/gios-barrie
Redirect 301 /gouda 					/barrie-ontario/gouda
Redirect 301 /grilled-cheese-barrie 	/barrie-ontario/grilled-cheese-barrie
Redirect 301 /groovy-tuesdays 			/barrie-ontario/groovy-tuesdays
Redirect 301 /hamleys 					/barrie-ontario/hamleys
Redirect 301 /happy-mango 				/barrie-ontario/happy-mango
Redirect 301 /harbour-house-grill 		/barrie-ontario/harbour-house-grill
Redirect 301 /harbour-view-inn 			/barrie-ontario/harbour-view-inn
Redirect 301 /herb-n-sage 				/barrie-ontario/herb-n-sage
Redirect 301 /holiday-inn-barrie 		/barrie-ontario/holiday-inn-barrie
Redirect 301 /holiday-inn-express-barrie 	/barrie-ontario/holiday-inn-express-barrie
Redirect 301 /hooters 						/barrie-ontario/hooters
Redirect 301 /horsepower 					/barrie-ontario/horsepower
Redirect 301 /houston-barrie 				/barrie-ontario/houston-barrie
Redirect 301 /huron-club 					/collingwood-ontario/huron-club
Redirect 301 /il-buco-ristorante            /barrie-ontario/il-buco-ristorante
Redirect 301 /jack-astors-barrie            /barrie-ontario/jack-astors-barrie
Redirect 301 /juns-roll                     /barrie-ontario/juns-roll
Redirect 301 /kabab-house                   /barrie-ontario/kabab-house
Redirect 301 /la-galeria                    /barrie-ontario/la-galeria
Redirect 301 /la-mexicanada-bradford        /barrie-ontario/la-mexicanada-bradford
Redirect 301 /lauries-sweet-treats          /barrie-ontario/lauries-sweet-treats
Redirect 301 /lazy-tulip-cafe               /barrie-ontario/lazy-tulip-cafe
Redirect 301 /lings-cuisine                 /barrie-ontario/lings-cuisine
Redirect 301 /local-gastropub               /barrie-ontario/local-gastropub
Redirect 301 /lockeroom /barrie-ontario/lockeroom
Redirect 301 /mansion /barrie-ontario/mansion
Redirect 301 /man-yorke /barrie-ontario/man-yorke
Redirect 301 /market-buffet-grill /barrie-ontario/market-buffet-grill
Redirect 301 /marty-s-coffee-bistro /barrie-ontario/marty-s-coffee-bistro
Redirect 301 /mary-browns-barrie /barrie-ontario/mary-browns-barrie
Redirect 301 /mcreillys /barrie-ontario/mcreillys
Redirect 301 /mexicanos /barrie-ontario/mexicanos
Redirect 301 /michael-marions /barrie-ontario/michael-marions
Redirect 301 /mistys /barrie-ontario/mistys
Redirect 301 /mittys-sports-bar /barrie-ontario/mittys-sports-bar
Redirect 301 /moguls /barrie-ontario/moguls
Redirect 301 /molly-blooms-collingwood /collingwood-ontario/molly-blooms-collingwood
Redirect 301 /moms /barrie-ontario/moms
Redirect 301 /monsoon-lounge-barrie /barrie-ontario/monsoon-lounge-barrie
Redirect 301 /muddy-water /barrie-ontario/muddy-water
Redirect 301 /mulholland-catering /barrie-ontario/mulholland-catering
Redirect 301 /ninos /barrie-ontario/ninos
Redirect 301 /olde-town-terrace /barrie-ontario/olde-town-terrace
Redirect 301 /old-red-hen /barrie-ontario/old-red-hen
Redirect 301 /old-time-retro-candy /barrie-ontario/old-time-retro-candy
Redirect 301 /ol-west-wing-hurst /barrie-ontario/ol-west-wing-hurst
Redirect 301 /oscars /barrie-ontario/oscars
Redirect 301 /painters-hall /barrie-ontario/painters-hall
Redirect 301 /palace-tavern /barrie-ontario/palace-tavern
Redirect 301 /papa-johns-barrie /barrie-ontario/papa-johns-barrie
Redirect 301 /penalty-box /barrie-ontario/penalty-box
Redirect 301 /peppermill-bistro /barrie-ontario/peppermill-bistro
Redirect 301 /pharaohs-pita /barrie-ontario/pharaohs-pita
Redirect 301 /pho /barrie-ontario/pho-108
Redirect 301 /pizzeria-italia /barrie-ontario/pizzeria-italia
Redirect 301 /port-rock-bar /barrie-ontario/port-rock-bar
Redirect 301 /quality-inn-barrie /barrie-ontario/quality-inn-barrie
Redirect 301 /queens-hotel /barrie-ontario/queens-hotel
Redirect 301 /radio-cafe /barrie-ontario/radio-cafe
Redirect 301 /ranch /barrie-ontario/ranch
Redirect 301 /rawlicious-barrie /barrie-ontario/rawlicious-barrie
Redirect 301 /rustys-blue /barrie-ontario/rustys-blue
Redirect 301 /sammys-pita /barrie-ontario/sammys-pita
Redirect 301 /scoops-cones-barrie /barrie-ontario/scoops-cones-barrie
Redirect 301 /scottys /barrie-ontario/scottys
Redirect 301 /second-cup-bayfield /barrie-ontario/second-cup-bayfield
Redirect 301 /second-cup-dunlop /barrie-ontario/second-cup-dunlop
Redirect 301 /shirleys /barrie-ontario/shirleys
Redirect 301 /sicilian-gourmet-pizza /barrie-ontario/sicilian-gourmet-pizza
Redirect 301 /sigrids-cafe /barrie-ontario/sigrids-cafe
Redirect 301 /silver-star /barrie-ontario/silver-star
Redirect 301 /simply-tea-chocolate          /barrie-ontario/simply-tea-chocolate
Redirect 301 /sirenis-fish-chips            /barrie-ontario/sirenis-fish-chips
Redirect 301 /sixteen-front                 /barrie-ontario/sixteen-front
Redirect 301 /skybank                       /barrie-ontario/skybank
Redirect 301 /springwater-cafe-catering     /barrie-ontario/springwater-cafe-catering
Redirect 301 /sticky-fingers                /barrie-ontario/sticky-fingers
Redirect 301 /stone-grille-innisfil         /innisfil-ontario/stone-grille-innisfil
Redirect 301 /stuffed-peasant               /barrie-ontario/stuffed-peasant
Redirect 301 /sugar-city-cupcakes /barrie-ontario/sugar-city-cupcakes
Redirect 301 /sunrise-caribbean /barrie-ontario/sunrise-caribbean
Redirect 301 /sunset-grill /barrie-ontario/sunset-grill
Redirect 301 /sunset-grill-gravenhurst /barrie-ontario/sunset-grill-gravenhurst
Redirect 301 /super /barrie-ontario/super-8-motel-barrie
Redirect 301 /super-panda /barrie-ontario/super-panda
Redirect 301 /tap-cue /barrie-ontario/tap-cue
Redirect 301 /tattingers-restaurant-lounge /barrie-ontario/tattingers-restaurant-lounge
Redirect 301 /tesoro /barrie-ontario/tesoro
Redirect 301 /the-italian-bakery /barrie-ontario/the-italian-bakery
Redirect 301 /theos-eatery /barrie-ontario/theos-eatery
Redirect 301 /tholos /barrie-ontario/tholos
Redirect 301 /tlc-bistro /barrie-ontario/tlc-bistro
Redirect 301 /travelodge-barrie-hart /barrie-ontario/travelodge-barrie-hart
Redirect 301 /tux-nightclub /barrie-ontario/tux-nightclub
Redirect 301 /urban-dish /barrie-ontario/urban-dish
Redirect 301 /whistle-stop /barrie-ontario/whistle-stop
Redirect 301 /wild-wings-barrie /barrie-ontario/wild-wings-barrie
Redirect 301 /wild-wings-barrie /barrie-ontario/wild-wings-barrie-2
Redirect 301 /wild-wings-mulcaster /barrie-ontario/wild-wings-mulcaster
Redirect 301 /williams-coffee-barrie /barrie-ontario/williams-coffee-barrie
Redirect 301 /windy-oneills /barrie-ontario/windy-oneills
Redirect 301 /yammas /barrie-ontario/yammas
Redirect 301 /yukyuks-barrie /barrie-ontario/yukyuks-barrie

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>


