# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>
Redirect 301 /kenzington                /barrie-ontario/kenzington-dunlop
Redirect 301 /55-special 				/barrie-ontario/55-special
Redirect 301 /applebees-barrie          /barrie-ontario/applebees-barrie
Redirect 301 /admirals-post 			/barrie-ontario/admirals-post
Redirect 301 /akira 					/barrie-ontario/akira-barrie
Redirect 301 /andys-place 				/barrie-ontario/andys-place
Redirect 301 /arabesque 				/barrie-ontario/arabesque
Redirect 301 /avalanche-blue 			/city/blue-mountains-ontario
Redirect 301 /azzurra 					/collingwood-ontario/azzurra-collingwood
Redirect 301 /bamboo-terrace 			/collingwood-ontario/bamboo-terrace-collingwood
Redirect 301 /bananas 					/city/wasaga-beach-ontario
Redirect 301 /barcelos-restaurant-grill /barrie-ontario/barcelos-restaurant-grill
Redirect 301 /barrie-burger-yonge 		/barrie-ontario/barrie-burger-yonge
Redirect 301 /beacon-restaurant 		/wasaga-beach-ontario/beacon-restaurant-wasaga-beach
Redirect 301 /beaver-bulldog-collingwood 	/collingwood-ontario/beaver-bulldog-collingwood
Redirect 301 /beavertails-barrie 			/barrie-ontario/beavertails-barrie
Redirect 301 /bistro-seven-seven 			/city/new-tecumseth-ontario
Redirect 301 /bluewater-fish-chips 			/stayner-ontario/bluewater-fish-chips
Redirect 301 /bohemia 						/barrie-ontario/bohemia-barrie
Redirect 301 /bos-authentic-thai 			/city/barrie-ontario
Redirect 301 /boston-pizza-bryne 			/city/barrie-ontario
Redirect 301 /boston-pizza-wasaga 			/city/wasaga-beach-ontario
Redirect 301 /bourbon-street 				/barrie-ontario/bourbon-street-barrie
Redirect 301 /british-arms 				/city/barrie-ontario
Redirect 301 /bull-barrel 				/city/barrie-ontario
Redirect 301 /caddys-steakhouse 		/city/barrie-ontario
Redirect 301 /cafe-chartreuse 			/city/collingwood-ontario
Redirect 301 /cafe-fromagerie 			/city/barrie-ontario
Redirect 301 /candyland 				/city/barrie-ontario
Redirect 301 /captain-georges 			/city/barrie-ontario
Redirect 301 /casa-cappuccino 			/barrie-ontario/casa-cappuccino
Redirect 301 /casa-mia 					/barrie-ontario/casa-mia-barrie
Redirect 301 /cha-cha-cha 				/city/barrie-ontario
Redirect 301 /chaopaya-thai 			/barrie-ontario/chaopaya-thai-barrie
Redirect 301 /chavo-crepes-barrie 		/city/barrie-ontario
Redirect 301 /chef-chan 				/city/barrie-ontario
Redirect 301 /cocos-burger 				/city/barrie-ontario
Redirect 301 /coffee-culture-stayner 	/city/stayner-ontario
Redirect 301 /collier-cafe 				/city/barrie-ontario
Redirect 301 /collingwood-tandoori-house 	/collingwood-ontario/collingwood-tandoori-house
Redirect 301 /colossal-scoop 			/city/barrie-ontario
Redirect 301 /conscious-cuisine-bistro 	/barrie-ontario/conscious-cuisine-bistro-barrie
Redirect 301 /continental-specialties 	/barrie-ontario/continental-specialties
Redirect 301 /copper-blues 				/blue-mountains-ontario/copper-blues-blue-mountain
Redirect 301 /coras-barrie 				/city/barrie-ontario
Redirect 301 /cosmos-ristorante 		/orillia-ontario/cosmos-ristorante-orillia
Redirect 301 /cravings-fine-food 		/barrie-ontario/cravings-fine-food
Redirect 301 /crazy-fox 				/barrie-ontario/crazy-fox-barrie
Redirect 301 /crock-and-block 			/city/barrie-ontario
Redirect 301 /crossovers 				/barrie-ontario/crossovers
Redirect 301 /cw-coops-alliston 		/new-tecumseth-ontario/cw-coops-alliston
Redirect 301 /cw-coops-barrie 			/city/barrie-ontario
Redirect 301 /dags-willow 				/city/collingwood-ontario
Redirect 301 /dannys-fish-chips 		/barrie-ontario/dannys-fish-chips
Redirect 301 /dardanella 				/wasaga-beach-ontario/dardanella-wasaga
Redirect 301 /davidsons-country-dining 	/barrie-ontario/davidsons-country-dining
Redirect 301 /debbs-place-barrie 		/barrie-ontario/debbs-place-barrie
Redirect 301 /diamond-sushi 			/city/barrie-ontario
Redirect 301 /doc-malones 				/barrie-ontario/malones-pint-house-barrie
Redirect 301 /donaleighs 				/barrie-ontario/donaleighs-barrie
Redirect 301 /downtown-pizza 			/city/barrie-ontario
Redirect 301 /dragon 					/barrie-ontario/dragon-barrie
Redirect 301 /dr-computer-logick 		/city/barrie-ontario
Redirect 301 /duncans-cafe 				/collinwood-ontario/duncans-cafe-collingwood
Redirect 301 /east-side-marios-bryne 	/barrie-ontario/east-side-marios-bryne
Redirect 301 /edge-wine-bar-grille 		/orangeville-ontario/edge-wine-bar-orangeville
Redirect 301 /white-truffle 		    /orangeville-ontario/edge-wine-bar-orangeville
Redirect 301 /espresso-post 			/collingwood-ontario/espresso-post-collingwood
Redirect 301 /euro-lex-bistro-deli 		/wasaga-beach-ontario/euro-lex-bistro-deli
Redirect 301 /fernandos 				/barrie-ontario/fernandos-barrie
Redirect 301 /firehall-pizza 			/blue-mountains-ontario/firehall-pizza-blue-mountains
Redirect 301 /flashback-diner 			/barrie-ontario/flashback-diner-barrie
Redirect 301 /fork-plate 				/innisfil-ontario/fork-plate-innisfil
Redirect 301 /frans 					/city/barrie-ontario
Redirect 301 /fresh-afare-bayfield 		/city/barrie-ontario
Redirect 301 /fresh-cafe 				/city/barrie-ontario
Redirect 301 /fresh-fare-south 			/city/barrie-ontario
Redirect 301 /frydays-fish-chip 		/city/barrie-ontario
Redirect 301 /fud-grill 				/stayner-ontario/the-hanger-stayner
Redirect 301 /gios-barrie 				/city/barrie-ontario
Redirect 301 /gouda 					/city/barrie-ontario
Redirect 301 /grilled-cheese-barrie 	/barrie-ontario/grilled-cheese-barrie
Redirect 301 /groovy-tuesdays 			/barrie-ontario/groovy-tuesdays-barrie
Redirect 301 /hamleys 					/barrie-ontario/hamleys-barrie
Redirect 301 /happy-mango 				/barrie-ontario/happy-mango-barrie
Redirect 301 /harbour-house-grill 		/city/innisfil-ontario
Redirect 301 /harbour-view-inn 			/barrie-ontario/harbour-view-inn-barrie
Redirect 301 /herb-n-sage 				/barrie-ontario/simmering-kettle-essa
Redirect 301 /holiday-inn-barrie 		/barrie-ontario/holiday-inn-barrie
Redirect 301 /holiday-inn-express-barrie 	/barrie-ontario/holiday-inn-express-barrie
Redirect 301 /hooters 						/city/barrie-ontario
Redirect 301 /horsepower 					/barrie-ontario/horsepower
Redirect 301 /houston-barrie 				/city/barrie-ontario
Redirect 301 /huron-club 					/collingwood-ontario/huron-club-collingwood
Redirect 301 /il-buco-ristorante            /barrie-ontario/il-buco-ristorante
Redirect 301 /jack-astors-barrie            /barrie-ontario/jack-astors-barrie
Redirect 301 /juns-roll                     /city/barrie-ontario
Redirect 301 /kabab-house                   /barrie-ontario/kabab-house-barrie
Redirect 301 /la-galeria                    /city/barrie-ontario
Redirect 301 /la-mexicanada-bradford        /bradford-ontario/la-mexicanada-bradford
Redirect 301 /lauries-sweet-treats          /city/barrie-ontario
Redirect 301 /lazy-tulip-cafe               /barrie-ontario/lazy-tulip-cafe
Redirect 301 /lings-cuisine                 /city/barrie-ontario
Redirect 301 /local-gastropub               /barrie-ontario/local-gastropub
Redirect 301 /lockeroom                     /barrie-ontario/lockeroom-barrie
Redirect 301 /mansion                       /barrie-ontario/the-johnsons-residence
Redirect 301 /man-yorke                     /city/new-tecumseth-ontario
Redirect 301 /market-buffet-grill           /barrie-ontario/market-buffet-grill-barrie
Redirect 301 /marty-s-coffee-bistro         /barrie-ontario/martys-coffee-bistro-barrie
Redirect 301 /mary-browns-barrie            /barrie-ontario/mary-browns-barrie-essa
Redirect 301 /mcreillys                     /barrie-ontario/mcreillys-barrie
Redirect 301 /mexicanos                     /city/barrie-ontario
Redirect 301 /michael-marions               /barrie-ontario/michael-marions-barrie
Redirect 301 /mistys                        /barrie-ontario/mistys-barrie
Redirect 301 /mittys-sports-bar             /city/barrie-ontario/
Redirect 301 /moguls                        /barrie-ontario/moguls-collingwood
Redirect 301 /molly-blooms-collingwood      /collingwood-ontario/molly-blooms-collingwood
Redirect 301 /moms                          /city/barrie-ontario
Redirect 301 /monsoon-lounge-barrie         /barrie-ontario/monsoon-lounge-barrie
Redirect 301 /muddy-water                   /new-tecumseth-ontario/muddy-water-beeton
Redirect 301 /mulholland-catering           /barrie-ontario/mulholland-catering-barrie
Redirect 301 /ninos                         /barrie-ontario/ninos-italian-barrie
Redirect 301 /north                         /barrie-ontario/north-barrie
Redirect 301 /olde-town-terrace             /city/collingwood-ontario/
Redirect 301 /old-red-hen                   /collingwood-ontario/old-red-hen-collingwood
Redirect 301 /old-time-retro-candy          /city/barrie-ontario
Redirect 301 /ol-west-wing-hurst            /barrie-ontario/ol-west-wing-hurst
Redirect 301 /oscars                        /barrie-ontario/oscars-barrie
Redirect 301 /painters-hall                 /barrie-ontario/painters-hall-barrie
Redirect 301 /palace-tavern                 /elmvale-ontario/palace-tavern-elmvale
Redirect 301 /papa-johns-barrie             /barrie-ontario/papa-johns-barrie-yonge
Redirect 301 /penalty-box                   /barrie-ontario/penalty-box-barrie
Redirect 301 /peppermill-bistro             /innisfil-ontario/peppermill-bistro-innisfil
Redirect 301 /pharaohs-pita                 /city/barrie-ontario
Redirect 301 /pho                           /city/barrie-ontario
Redirect 301 /pizzeria-italia               /barrie-ontario/pizzeria-italia
Redirect 301 /port-rock-bar                 /barrie-ontario/foxx-lounge-barrie
Redirect 301 /quality-inn-barrie            /city/barrie-ontario
Redirect 301 /queens-hotel                  /barrie-ontario/queens-hotel-barrie
Redirect 301 /radio-cafe                    /barrie-ontario/gallery-cafe-barrie
Redirect 301 /ranch                         /barrie-ontario/ranch-barrie
Redirect 301 /rawlicious-barrie             /city/barrie-ontario
Redirect 301 /rustys-blue                   /city/blue-mountains-ontario
Redirect 301 /sammys-pita                   /city/barrie-ontario
Redirect 301 /scoops-cones-barrie           /city/barrie-ontario
Redirect 301 /scottys                       /barrie-ontario/scottys-barrie
Redirect 301 /second-cup-bayfield           /city/barrie-ontario
Redirect 301 /second-cup-dunlop             /barrie-ontario/second-cup-dunlop
Redirect 301 /shirleys                      /barrie-ontario/shirleys-barrie
Redirect 301 /sicilian-gourmet-pizza        /barrie-ontario/sicilian-pizza-barrie
Redirect 301 /sigrids-cafe                  /city/barrie-ontario
Redirect 301 /silver-star                   /barrie-ontario/silver-star
Redirect 301 /simply-tea-chocolate          /barrie-ontario/simply-tea-chocolate-barrie
Redirect 301 /sirenis-fish-chips            /barrie-ontario/sirenis-fish-chips
Redirect 301 /sixteen-front                 /city/orillia-ontario/
Redirect 301 /skybank                       /barrie-ontario/hooligans-barrie
Redirect 301 /springwater-cafe-catering     /barrie-ontario/springwater-cafe-catering
Redirect 301 /sticky-fingers                /city/barrie-ontario
Redirect 301 /stone-grille-innisfil         /innisfil-ontario/stone-grille-innisfil
Redirect 301 /stuffed-peasant               /collingwood-ontario/stuffed-peasant-collingwood
Redirect 301 /steelers                      /elmvale-ontario/steelers-restaurant-and-pub
Redirect 301 /sugar-city-cupcakes           /city/barrie-ontario
Redirect 301 /sunrise-caribbean             /city/barrie-ontario
Redirect 301 /sunset-grill                  /city/barrie-ontario
Redirect 301 /sunset-grill-gravenhurst      /city/barrie-ontario
Redirect 301 /super                         /barrie-ontario/super-8-motel-barrie
Redirect 301 /super-panda                   /city/collingwood-ontario
Redirect 301 /tap-cue                       /barrie-ontario/tap-cue-barrie
Redirect 301 /tattingers-restaurant-lounge  /barrie-ontario/tattingers-restaurant-lounge
Redirect 301 /tesoro                        /collingwood-ontario/tesoro-collingwood
Redirect 301 /tara                          /barrie-ontario/tara-indian-barrie
Redirect 301 /the-italian-bakery            /barrie-ontario/italian-bakery-barrie
Redirect 301 /the-farmhouse                 /barrie-ontario/farmhouse-barrie
Redirect 301 /theos-eatery                  /orillia-ontario/theos-eatery-orillia
Redirect 301 /tholos                        /blue-mountains-ontario/tholos-blue-mountain
Redirect 301 /tiffs                         /barrie-ontario/tiffs-restaurant-barrie
Redirect 301 /tiffins                       /barrie-ontario/tjs-pizza-barrie
Redirect 301 /tlc-bistro                    /city/barrie-ontario
Redirect 301 /travelodge-barrie-hart        /barrie-ontario/travelodge-barrie-hart
Redirect 301 /tux-nightclub                 /orillia-ontario/tux-nightclub-orillia
Redirect 301 /twist-blue-moutain            /blue-mountains-ontario/twist-martini-blue-mountain
Redirect 301 /urban-dish                    /barrie-ontario/urban-dish-barrie
Redirect 301 /whistle-stop                  /new-tecumseth-ontario/whistle-stop-beeton
Redirect 301 /wild-wings-barrie             /barrie-ontario/wild-wings-mulcaster
Redirect 301 /wild-wings-barrie-2           /barrie-ontario/wild-wings-mulcaster
Redirect 301 /wild-wings-mulcaster          /barrie-ontario/wild-wings-mulcaster
Redirect 301 /williams-coffee-barrie        /barrie-ontario/williams-coffee-barrie
Redirect 301 /windy-oneills                 /city/blue-mountains-ontario
Redirect 301 /yammas                        /wasaga-beach-ontario/yammas-wasaga
Redirect 301 /yukyuks-barrie                /barrie-ontario/yukyuks-barrie
Redirect 301 /landings/venue_type/bar       /search/?store-type=bar&city=barrie-ontario
Redirect 301 /places/view/tara              /barrie-ontario/tara-indian-barrie
RewriteRule  ^news_events/(.*)$             /blog/$1 [R=301,NC,L]





<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>


