
p { color: palevioletred; }
body {
  margin: 0;
  background-color: #1cc7ff;

  h1 {
    background-color: red;
    margin: 0;
  }

  h2 {
    background-color: red;
    margin: 0;
  }

  h3 {
    background-color: red;
    margin: 0;
  }

}