/*
Colour tools:

https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
http://scg.ar-ch.org/
https://sassme.jim-nielsen.com/
 */



/* Coolors Exported Palette - coolors.co/086788-1c3144-ffba08-07a0c3-091540 */
/*
// HSL
$color1: hsla(195%, 89%, 28%, 1);
$color2: hsla(209%, 42%, 19%, 1);
$color3: hsla(43%, 100%, 52%, 1);
$color4: hsla(191%, 93%, 40%, 1);
$color5: hsla(227%, 75%, 14%, 1);

// RGB
$color1: rgba(8, 103, 136, 1);
$color2: rgba(28, 49, 68, 1);
$color3: rgba(255, 186, 8, 1);
$color4: rgba(7, 160, 195, 1);
$color5: rgba(9, 21, 64, 1);
*/

/*
$darkBlue: #046abf;
$mediumBlue: #0277c2;
$lighBlue: #05c5f7;
$darkRed: #ba3228;
$offWhite: ##f1f1f1;

 */

// new
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=90A4AE&secondary.color=0D47A1  (SimcoeDining scheme)
// https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=f1f1f1&secondary.color=0d47a1 (SimcoeDining light - alternate)

// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=D50000&secondary.color=FFD600 (Fashion)

// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=546E7A&secondary.color=B71C1C (tech?)

// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=fcce15&secondary.color=CDDC39 (FindPhoneFixer)

$primary: #0d47a1;
$primaryLight: #5472d3;
$primaryDark: #002171;
/*
$secondary: #0d47a1;
$secondaryLight: #5472d3;
$secondaryDark: #002171;
*/
$secondary: #90a4ae;
$secondaryLight: #c1d5e0;
$secondaryDark: #62757f;



//@import "~bootstrap/scss/bootstrap";
//@import "customVariables";

// https://css-tricks.com/snippets/sass/tint-shade-functions/
/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

/*
$blueGrey: #c9c6db;
$blueWhite: #e9e9f3;
$lightBlue: #94b5f1;
$darkBlue: #4785da;
$brownish: #402828;

// from https://color.adobe.com/create/image/ (simcoeDining.com image)
$darkBlue: #046abf;
$mediumBlue: #0277c2;
$lighBlue: #05c5f7;
$darkRed: #ba3228;
$offWhite: #f1f1f1;

*/

@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
@import "customVariables"; // replaces scss/variables
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
//@import "~bootstrap/scss/print";

// from Zomat0

.res-rating {

}

.fontsize5 {
    font-size: 12px;
}

.grey-text, .zdark {
    color: #89959B;
}

.ta-right {
    text-align: right;
}


.rrw-aggregate {
    width: 80px;
    float: right;
    border-radius: .28571429rem;
    color: #fff;
    font-weight: 700;
    font-size: 25px; // font-size: 30px;
    line-height: 39px;
}

.level-7 {
    background: #5BA829;
    border-color: #5BA829 !important;
}


// end

.breadcrumb { background-color: transparent}

// -------------- new

$almostBlack: shade( $primary, 95);

nav.navbar-dark {
    background-color: $primary !important;
    color: white;
}


h1, h2, h3, h4, h5 {
    color: darken($primary,25%);
}

p {
    color: shade( $secondary, 90);
}

body {
    background-color: #fff;
}

.section-header.display-4 {
    font-size: 2.5rem;
    font-weight: 900;
}

p.section-header {
    font-weight: 600;
    color: darken( $primary, 15%);
}


h3.section-header small { opacity: .5; color: #000; }


// home page ----------------------------------------------------------------

.card {
    background: tint($primary,95);
    border-radius: 0;
    border: 1px solid rgba($primaryDark,0.1);
    box-shadow: 1px 1px 4px rgba($primaryDark,0.1);
}
.title-banner {
    background-color: $secondary;
    background-image: url('https://res.cloudinary.com/yyztech-group-media/image/upload/c_lfill,f_auto,w_1200/v1545607369/close-up-cooking-cuisine-958545_npxtdg.jpg');
    background-size: cover;
    background-position: bottom;
    h1 {
        color: white;
    }
    p {
        color: #fff;
        font-weight: 600;
    }

    .container {
        background-color: rgba(0,0,0,.5);
    }

    .search-field {
        width: 30rem;
    }
}

.cities-list {

    // background-color: tint($primary,80);
    li {
        padding-bottom: 1rem;
    }
    li:last-child {
        padding-bottom: 0;
    }

    h3 {
        color: shade($primary,30);
    }

    .ui.segment {
        position: relative;
        background: tint($primary,95);
        //box-shadow: none;
        //margin: 1rem 0;
        //padding: .5rem;
        border-radius: 0;
        border: 1px solid rgba($primaryDark,0.1);

        transition: background-color .5s ease;

        a {
            flex-grow: 1;
        }

        a:hover{
            // color: $primaryLight;
            text-decoration: none;
            color: white;
        }
    }

    .ui.segment:hover {
        background-color: shade($primary,30);
        color: white;
    }

}

.rating {
    background-color: green;
    font-size: 2rem;
    padding: 0.5rem;
    color: white;
    margin: 2rem 0 0 1rem;

    span {
        font-size: 1.5rem;
    }
}

// -------------

.footer-wrapper {
    background: shade($primary,50);
}

.footer {
    background-color: shade($primary,50);
    color: white;

    h5 {
        color: white;
    }

    .text-muted {
        color: tint( $primary,70) !important;
    }
}

.card-title small {
    opacity: .5;
    color: #000;
    font-weight: 400;
}

// -- city home page -----------------------------------------------------


.popular-searches {

}

.cusines-types {

    li {
        padding-bottom: 1rem;
    }
    li:last-child {
        padding-bottom: 0;
    }
}

.regions-list {

    // override display block for this class
    @include media-breakpoint-up(md) {
        .d-md-block {
            display: initial !important;
        }
    }


    // background-color: tint($primary,80);
    li {
        padding-bottom: 1rem;
    }
    li:last-child {
        padding-bottom: 0;
    }

    h4 {
        color: shade($primary, 30);
    }
}

// search results

.search-results li {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }

    img {
        max-height: 200px;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &.panel {
        background: tint($primary,95);
        border-radius: 0;
        border: 1px solid rgba($primaryDark,0.1);
        padding: 1.25rem;
    }
}

// venue

#map {
    height: 40vh;
    width: 100%;
    border: 1px solid #82abc5;
}

.venue-card .list-inline-item {
    margin-bottom: 1rem;
}

.venue-card .list-inline-item a {
        background-color: rgba(13, 71, 161, 0.05);
        padding: .25rem .5rem;
}




// --------------------------------------------

// copy from Zoomato



i.icon {
   // display: inline-block;
   // opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
   // font-family: zombatsregular;
   // content: attr(data-icon);
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

i.icon.angle.right:before {
    content: "\f105";
}
i.icon:before {
    background: 0 0!important;
}


// copy from Bootstrap

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: shade($primary, 30); // #343a40;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: left, visibility;
    }
    .offcanvas-collapse.open {
        left: 0;
        visibility: visible;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

/* Newest Venues city homepage */
.newest-venues-title { font-weight: 600 }

.newest-venues-types {
    background-color: #0d47a1; // SD blue
    color: white !important;
    padding: 0.125rem .25rem;
    opacity: .5;
}
